@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.encabezado {
    width: 100%;
    height: 10vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 210px;
    height: 50px;
    background-color: #000000;
    opacity: 1;
    color: #FFFFFF;
    font: normal normal 900 32px/39px Lato;
    display: flex;
}

.cubo {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #000000;
}

.cubo-juego1 {
    width: 94%;
    height: 44%;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    background-color: #000000;
}

.cubo-juego {
    width: 94%;
    height: 44%;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
}

.mini-cubo1 {
    width: 46%;
    height: 96%;
    margin: 2%;
    background-color: #FFFFFF;
}

.mini-cubo {
    width: 46%;
    height: 96%;
    margin: 2%;
    background-color: #FFFFFF;
}

.menu {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlace {
    font: normal normal 300 16px/20px Lato;
    opacity: 1;
    text-decoration: none;
    color: #175a91;
}

.seccion-principal {
    width: 100%;
    height: 1550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.seccion-encabezado {
    width: 950px;
    height: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.titulo {
    font: normal normal 900 24px/29px Lato;
}

.subtitulo {
    font: normal normal 300 16px/19px Lato;
    letter-spacing: 0px;
    color: #737373;
}

.seccion-cuerpo {
    width: 950px;
    height: 1381px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    font: normal normal 300 16px/19px Lato;
    margin-right: 5px;
}

.input1 {
    width: 275px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.input2 {
    width: 419px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.input3 {
    width: 419px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.input4 {
    width: 494px;
    height: 217px;
    border-radius: 10px;
    border: none;
}

.input5 {
    width: 340px;
    height: 40px;
    border-radius: 10px;
    background-color: #e2e2e2;
    border: none;
}

.input6 {
    width: 340px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.input7 {
    width: 446px;
    height: 100px;
    border-radius: 10px;
    border: none;
}

.contenedor-formulario {
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.boton-crono-venta {
    width: 200px;
    height: 30px;
    background-color: #000000;
    border-radius: 25px;
    color: #FFFFFF;
    font: normal normal bold 18px/24px Roboto;
    margin-left: 130px;
}

.imagen {
    width: 40%;
    height: 154px;
    background-color: #fcfcfc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen1 {
    width: 28%;
    height: 154px;
    margin: 3px;
    background-color: #fcfcfc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes-contenedor {
    width: 80%;
    margin-left: 20%;
    display: flex;
}

.pie-pagina {
    width: 100%;
    height: 20vh;
    background-color: #707070;
    display: flex;
    justify-content: space-around;
}

.div-pie-pagina {
    width: 20%;
    height: 90%;
    margin: 2%;
}

.parrafo-pie-pagina {
    font: normal normal 300 12px/15px Lato;
    margin: 5px;
    color: #ffffff;
}

.div-imagenes {
    width: 35%;
    display: flex;
    justify-content: space-around;
}
